{% extends layout/base.html %}
{% block title %} User Selection {% endblock %}
{% block content %}
    <h1>D.I.N.O</h1>

    <p>Select user</p>
    <form action="/submit" method="post"></form>
        <div class="user-button-container">
            <button action="/submit" class="user-button">
                User A
            </button>
            <button action="/submit" class="user-button">
                User B
            </button>
        </div>

        <button type="submit" name="submit" value="Submit">{{ new_user_button }}</button>
        <input type="text" name="name" placeholder="Enter your name">
    </form>
{% endblock %}